
.header-wrapper {
    background-color: #84A652; 
    border-bottom: 0.5px solid #AAB6C4;  
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    margin-right: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 50px; 
    .navbar-logo {
        background-color: #84A652; 
        justify-content: flex-start;  
        padding: 5px;
        padding-bottom: 0;
        text-align: left; 
        img {
            width: 12%;
        }
    } 
    .header-actions {
        display: flex;
        flex: 0 0 33%;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 0 10px 0; 
        .logout {
            cursor: pointer;
            width: 140px; 
            flex: 0 0 140px; 
            max-width: 140px;
            height: 35px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; 
            transition: all .3s; 
            color: #fff;
            .power-icon {
                width: 25%;
                font-size: 30px;
                height: 30px;
                width: 30px;
                border-radius: 20px;
            }
            &-text {
                width: 75%;
                line-height: 25px;
                padding: 0 15px 0 25px;
                color: #ffffff;
                font-size: 14px;
                text-transform: uppercase;
            }
            &:hover {
                transform: scale(1.1, 1.1);
                font-weight: bolder;
            }
        }
    }
} 