<app-heade-bar></app-heade-bar>
<div class="export-container">
	<button mat-button (click)="exporter.exportTable('csv')">DOWNLOAD</button>
</div>
<div class="table-section">
  <mat-table matTableExporter  #exporter="matTableExporter"
    [dataSource]="dataSource"
    matSort
    [trackBy]="trackById"
    class="custom-table"
  >
    <ng-container matColumnDef="option">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Option</mat-header-cell
      >
      <mat-cell *matCellDef="let data">{{ data.option }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Vorname</mat-header-cell
      >
      <mat-cell *matCellDef="let data">{{ data.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Nachname</mat-header-cell
      >
      <mat-cell *matCellDef="let data">{{ data.surname }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Unternehmen</mat-header-cell
      >
      <mat-cell *matCellDef="let data">{{ data.company }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="c_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >UmsatzsteuerID</mat-header-cell
      >
      <mat-cell *matCellDef="let data">{{ data.c_id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Pramie</mat-header-cell
      >
      <mat-cell *matCellDef="let data">{{ data.price }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="payee">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Zahlungsempfaenger</mat-header-cell
      >
      <mat-cell *matCellDef="let data">{{ data.payee }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="iban">
      <mat-header-cell *matHeaderCellDef mat-sort-header>IBAN</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.iban }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="gift_code">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Gutscheincode</mat-header-cell
      >
      <mat-cell *matCellDef="let data">{{ data.gift_code }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="img1">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Vorderseite</mat-header-cell
      >
      <mat-cell *matCellDef="let data">{{ data.img1 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="img2">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Rueckseite</mat-header-cell
      >
      <mat-cell *matCellDef="let data">{{ data.img2 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Dauer</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.time }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="agb">
      <mat-header-cell *matHeaderCellDef mat-sort-header>AGB</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.agb }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="terms">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Zustimmung</mat-header-cell
      >
      <mat-cell *matCellDef="let data">{{ data.terms }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="uniqueid">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.uniqueid }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Submission Date</mat-header-cell
      >
      <mat-cell *matCellDef="let data">{{ data.date }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price_tag">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Price_Tag</mat-header-cell
      >
      <mat-cell *matCellDef="let data">{{ data.price_tag }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="class">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Klasse</mat-header-cell
      >
      <mat-cell *matCellDef="let data">{{ data.class }}</mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayColumns$ | async; sticky: true"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayColumns$ | async"
      class="row-hover"
    >
    </mat-row>
  </mat-table>
  <mat-paginator
    [length]="dataSource.data.length"
    [pageSize]="25"
    [pageSizeOptions]="[10, 15, 25, 50, 100, 200]"
    showFirstLastButtons
    automation-id="pagination-users"
  ></mat-paginator>
</div>
