<h1 mat-dialog-title class="error-title">An Error Has Occured!</h1>
<!-- <mat-dialog-content>
    <p>An error has occured in our system! This may be serious.</p>
    <p>Please report the following error: <span class="red">Error thrown in {{ data.path }}</span></p>
    <p *ngIf="data.message" class="red">{{ data.message }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" class="btn btn-primary" automation-id="btn-close-error-popup">Understood</button>
</mat-dialog-actions> -->