/* You can add global styles to this file, and also import other style files */ 
@import '../node_modules/alertifyjs/build/css/alertify.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-step-icon {
    font-size: 28px;
    background: #82828200 !important;
    border: 1px solid #F67869;
    padding: 20px;
}
.mat-step-icon-selected {
    
    background: #F67869 !important;
}
.mat-radio-outer-circle {
    background: #fff;
    padding: 8px;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #F67869 !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #F67869;
} 
.mat-form-field-label {
    color: #fff !important;
    margin-left: 10px;
}
.mat-checkbox-inner-container {
    margin-top: 0px!important;
}
.mat-header-row {
    border-bottom: 1px solid #616161 !important;
}